@media (max-width: 1320px) {
  .rq-visit{
    position: fixed;
    top: 50vh;
    right: -5.5rem;
    transform: translateY(-50%) rotate(270deg);
    
    z-index: 999;
  }
  .rq-visit a{
    border: 1px solid #fff;
  }
  .newsletter-heading{
    width: 100%;
    text-align: center;
  }
  .newsletter-container{
    justify-content: center;
    gap: 15px;
  }
  .name-num-form{
    gap: 20px;
  }
  .name-num-form div{
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .home-left-swiper{
    display: none;
  }
  .home-swipers{
    transform: translateY(7rem);
  }
  .menu-bar{
    display: flex;
  }
  .navbar{
    justify-content: space-between !important;
    padding: 0.5rem 2rem;
  }
  .navLinks {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: -100vh;
    right: 0;
    width: 40%;
    height: 100vh;
    z-index: 999;
    background-color:#e0d9d9;
    transition: top 0.5s ease-in-out;
  }
  .navLinks li a{
    color: #000;
  }
  .navLinks.show{
    top: 0;
  }
 
  .logo {
    font-size: 44px;
  }
  .home-swiper-container{
    height: 500px;
    width: 90%;
  }
  .aboutUsContent{
    width: 100%;
  }
  .aboutUsSwiper{
    display: none;
  }
  .aboutUsContainer{
    gap: 50px;
  } 
  .service-content, .news-content, .project-content{
    justify-content: center;
    flex-wrap: wrap;
  }
  .getQuotePageSection{
    padding: 14rem 1rem 2rem;
  }
  .qoute_img_container_1 img, .qoute_img_container_2 img{
    min-width: 300px;
  }
  .qoute_img_container_1 img:nth-of-type(2){
    display: none;
  }
  .qoute_img_container_1{
    padding-bottom: 2rem;
  }
  .qoute_img_container_2 img:nth-of-type(2){
    display: none;
  }
  .qoute_img_container_1, .qoute_img_container_2{
    flex-wrap: wrap;
  }
  .qoute_content{
    position: absolute;
    top: 4%;
  }
  .qoute_content h1{
    font-size: 34px;
  }
  .get_in_touch_link{
    transform: translateY(10px);
  }
  .team-member-3{
    display: none;
  }
  .team_member_container{
    justify-content: space-around;
  }
  .service-headings, .news-headings, .project-headings{
    text-align: center;
  }
  .service-headings p, .news-headings p, .project-headings p{
    width: 100%;
  }
  .get_in_touch_map{
    width: 100%;
  }
  .get_in_touch_content{
    width: 100%;
  }
  .news-card{
    min-width: 410px;
  }
  .footer-content-container{
    justify-content: space-around;
  }
  /* .footer-content{
    width: 47%;
  } */
  .home-swiper-container .swiper-button-prev, .home-swiper-container .swiper-button-next{
    top: 90%;
  }
  .contact_form_container{
    justify-content: center;
  }
  .contact_form_img, .contact_form{
    min-width: 450px;
  }
  .contact_form h1{
    font-size: 34px;
    text-align: center;
    padding: 1rem 0 0.75rem;
  }
  
  .input_container input, .message_container textarea{
    font-size: 17px;
  }
  .form_submit{
    width: 100%;
  }
  .home-below-swiper{
    height: 40%;
  }
}
@media (max-width: 768px) {
  .navbar{
    padding: 0.5rem 2rem;
  }
  .aboutCallDiv{
    display: none;
  }
  .aboutUsContent{
    min-width: 0;
  }
  .aboutUsContent p{
    width: 100%;
  }
  .aboutCallDiv p{
    text-align: center;
  }
  .aboutList{
    border: none;
    width: 100%;
  }
  .moreAbout-link {
    text-align: center;
    display: block;
    /* transform: translateX(0); */
    width: 275px;
    margin: auto;
  }
  .footer-content{
    width: 100%;
  }
  .footer-content-1 p{
    max-width: 70%;
  }
  .copyright{
    justify-content: center;
    gap: 5px;
    padding: 0.5rem 2.5rem;
  }
  .home-head{
    font-size: 42px;
  }
  .home-para{
    font-size: 22px;
  }
  .footer {
    padding: 3rem 1.5rem 1rem ;
    
}
}
@media (max-width: 550px) {
  .aboutUsSwiper{
    min-width: 0;
    width: 100%;
    padding: 0;
  }
  .get_in_touch_map{
    min-width: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  .get_in_touch_content{
    min-width: 0;
    width: 100%;
  }
  .git-info-content{
    width: 100%;
  }
  .get_in_touch-info{
    padding-right: 1rem;
  }
  .contact_form_img, .contact_form{
    min-width: 0;
    width: 100%;
  }
  h1{
    font-size: 38px;
  }
  .qoute_content h1{
    font-size: 28px;
  }
  .navLinks{
    width: 100%;
  }
}
@media (max-width: 425px) {
  .aboutList,
.aboutCallDiv {
  width: 100%;
}
  .news-card{
    min-width: 310px;
  }
  .contact_mini_img_container img{
    width: 25%;
  }
  .contact_form_img, .contact_form{
    min-width: 300px;
  }
  .qoute_img_container_1 img:nth-of-type(2), .qoute_img_container_2 img:nth-of-type(2){
    height: 290px;
    transform: translateY(0);
  }
  .s-card{
    min-width: 0;
    width: 100%;
  }
  .copyright p{
    text-align: center;
  }
  .footer-content-1 p{
    max-width: 100%;
  }
  .home-head{
    font-size: 28px;
  }
  .home-para{
    font-size: 18px;
  }
  .home-swipers{
    padding: 0 1rem;
  }
}